*{
margin: 0%;
padding: 0%;
font-family: monospace;
color: white;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.Sfondo{
    background-image: url(Foto/cat-asethetic-lofi-5k-pw.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}


.NavBar{
    display: flex;
    height: 12%px;
    align-items: center;
}

.icona{
    cursor: pointer;
    width: 40px;
    margin-left: 60px;
    margin-top: 40px;
}

nav ul li{
    list-style: none;
    margin-left: 60px;
    display: inline-block;
    margin-top: 40px;

}
a{
text-decoration: none;
font-size: 20px;
color: aliceblue;

}


nav{
    flex: 1;
    text-align: right;
}

.row{
    display: flex;
    height: 70%;
    align-items: center;

}
.col{
    flex-basis: 50%;
   
}
h1{
    color:aliceblue;
    font-size: 80px;

}
h2{
font-size: 100px;

}
p{
   
    font-size: 25px;
   
}

.tab{
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-image:url(Foto/kyrie-irving-lebron-james-cleveland-cavaliers_3269981.jpg);
    background-position: center;
    background-size: cover;
   
 

}

.tab1{
    background-image:url(Foto/IMG_20211101_175329_457.jpg);
    width: 200px;
    height: 250px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-position: center;
    background-size: cover;
   

    

}
h2{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 16px;
    

}
p{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 16px;

}
.animazione{
    transition: translateY(2.5.s);
    transition: width 2s, height 2s, 
}

.animazione :hover{
    transform: translateY(-10px);
}
.tab :hover{
    transform: none;
}
.tab1 :hover{
    transform: none;
}


.Sfondo2{
    background-image: url(Foto/kyrie-irving-lebron-james-cleveland-cavaliers_3269981.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}

.descrizione{
    font-size: 50px;
    width: 500px;
    height: 450px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-color: rgb(199, 210, 219, .6);

}
.bimbo{
    width: 240px;
    height: 220px;
    float: left;
    border-radius: 20px;
    margin: 20px 20px; 
}

.descrizione3 :hover{
    transform: none;
}

.Sfondo3{
    background-image: url(Foto/IMG_20211101_175329_457.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.descrizione3{
    font-size: 50px;
    width: 500px;
    height: 450px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 20px;
    background-color: rgb(199, 210, 219, .6);
   
}
.bimbo3{
    width: 360px;
    height: 240px;
    float: right;
    border-radius: 20px;
    margin: 140px 20px; 
}
